.button-base {
    background-color: rgb(10, 84, 221);
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}

.button-base-icon {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    /* fill: red;
    stroke: rgb(247, 243, 10); */
}

.button-disabled {
    opacity: 0.2;
}

.button-call2 {
    background-color: rgb(38, 247, 10);
}

.button-register {
    background-color: rgb(20, 77, 235);
}