.button-base {
    background-color: rgb(10, 84, 221);
    border-radius: 50%;
     width: 100px;
    height: 100px;
}

.button-base-icon {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    /* fill: red;
    stroke: rgb(247, 243, 10); */
}

.button-disabled {
    opacity: 0.2;
}

.button-nodisplay {
    display: none;  
}
