.button-base {
    background-color: rgb(10, 84, 221);
    /* border-radius: 50%; */
    width: 100px;
    height: 100px;
}

.button-base-icon {
    width: 50%;
    height: 50%;
    position: relative;
    top: 20px;
}

.button-disabled {
    opacity: 0.2;
}

.button-nodisplay {
    display: none;
}

.button-hangup {
    stroke: #a73f3f;
    fill: white;
    background-color: red;
    position: absolute;
    bottom: 1vh;
    display: inline-block;
    transform: translate(-50%, -50%);
    margin: 0 auto;

}