.button-connect {
    position: absolute;
    top: 0; 
    right: 0; /* set the right to 0 */
    height: 60px;
    width: 130px;
    background-color: #4256c5;
  }
.button-call{
    position: absolute;
    top: 60px; 
    right: 0; /* set the right to 0 */
    height: 60px;
    width: 130px;
    background-color: #4256c5;
  }

  .inputs {
    background: yellow;
    position: absolute;
    top: 105px;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    background: transparent;
  }

  .dbg-info {
    position: absolute;
    bottom: 0; 
    color: rgba(124, 245, 130, 0.349);
  }
