body {
    background-color: #eee;
  }  

.id {
    width:200px
}

.server {
    width:200px
}

video#localVideo {
    margin: 0 20px 20px 0;
    height: 160px;
}

video#remoteVideo {
    height: 160px;
}
  